body {
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282828;
    list-style-type: none;
}

li {
    cursor: pointer;
}

h1 {
    font-weight: 400;
    margin: 25px 30px;
    font-size: 90px;
}

img {
    display: block;
    width: auto;
}

.logo {
    background-color: #282828;
    color: whitesmoke;
    padding: 40px;
    font-size: x-large;
    font-weight: 700;
}

.icon {
    width: 25px;
    size: 18px;
    color: whitesmoke;
}

.burger {
    color: whitesmoke;
    margin-left: auto;
    padding-right: 100px;
}

p {
    margin: 25px 0;
}

.img-banner {
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.item {
    position: relative;
}

button {
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
    align-self: center;
}

.caption {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.chatbox-bg {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: #dda15e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
}

.chatbox-img {
    width: 50%;
    margin: auto;
}




