/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0px auto;
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
}

#hero {
    background-image: url("images/watermeadows.jpg");
    background-size: cover;
    height: 400px;
}

#activities {
    background-color: #457B9D;
    margin-top: 0;
}

#guide {
    background-color: #A8DADC;
}